.custom-button {
  border: 2px solid var(--main-blue);
  border-radius: 30px;
  // margin: 8px 15px;
  box-sizing: border-box;
  padding: 8px 30px;
  padding-top: 10px;
  outline: none;
  text-align: center;
  width: max-content;
  height: 100%;
  letter-spacing: 0.2em;
  font-weight: bold;
  background: transparent;
  color: var(--main-blue);
  cursor: pointer;

  &:hover {
    background: var(--main-blue);
    color: white;
    transition: 0.2s all;
  }
}
