.chat-page {
  height: 100%;
  display: grid;
  grid-template-rows: 8% auto 10%;
  overflow: hidden;

  .chat-body {
    display: grid;
    grid-template-columns: 100%;
    min-height: 0;
    background: #242a35;
    overflow: auto;

    .messages-container {
      background: #475368;

      .lil-clearance {
        width: 100%;
        height: 3vh;
      }
    }
  }

  .footer {
    background: #242a35;
    height: 100%;
  }
}
