.chat-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;

  .content-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
    .self-img {
      height: 30px;
      border-radius: 50%;
    }
    .self-name {
      margin-left: 15px;
      font-weight: bold;
    }
  }

  .content-right {
    margin-left: auto;
    margin-right: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    .button-container {
      height: 100%;
    }
  }
}
