.chat-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  background: #242a35;
  color: white;

  .content-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
    .self-img {
      height: 30px;
      border-radius: 50%;
    }
    .self-name {
      margin-left: 15px;
      font-weight: bold;
    }
  }

  .content-right {
    margin-left: auto;
    margin-right: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    .button-container {
      height: 100%;

      .mod-custom-button {
        border: 2px solid var(--main-blue);
        border-radius: 30px;
        // margin: 8px 15px;
        box-sizing: border-box;
        padding: 8px 30px;
        padding-top: 10px;
        outline: none;
        text-align: center;
        width: max-content;
        height: 100%;
        letter-spacing: 0.2em;
        font-weight: bold;
        background: transparent;
        color: white;
        cursor: pointer;

        &:hover {
          background: var(--main-blue);
          color: white;
          transition: 0.2s all;
        }
      }
    }
  }
}
