.friend-container {
  width: 100%;
  height: 10%;
  background: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: 0.15s all;

  &:hover {
    background: var(--hover-blue);
    cursor: pointer;
  }
  .friend-avatar img {
    height: 40px;
    width: auto;
    margin: 5px 15px;
  }
  .friend-name {
    margin-right: 25px;
    overflow: hidden;
  }
}
