.sign-up {
  display: grid;
  grid-template-columns: 500px;
  place-items: center;

  .heading {
    color: var(--main-blue);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.4em;
    user-select: none;
  }
  .button-container {
    width: 300px;
    height: 44px;
  }
}
