:root {
  --main-blue: #333c4c;
  --active-blue: #475469;
  --hover-blue: #013b72;

  --main-orange: #ffab03;
  --hover-orange: #c58300;
  --active-orange: #a76f00;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  // overflow: hidden;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
