.home-page-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .home-page {
    position: absolute;
    align-self: center;
    display: grid;
    grid-template-columns: auto 2px auto;
    place-items: center;
    height: 100%;

    .bar {
      height: 80%;
      background-image: linear-gradient(
        180deg,
        #ffffff 0%,
        var(--main-blue) 50%,
        #ffffff 100%
      );

      width: 2px;
    }
  }
}
